.resultados {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #ffd8eb;
  box-sizing: border-box;
  font-family: 'Roboto';
}

.cabecalho {
  font-size: 2.2rem;
  line-height: 2.8rem;
  text-align: center;
  color: #1f1a1c;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
}

.conteudo {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: #3c0029;
  width: 25rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.titulo {
  font-weight: 500;
  margin-bottom: 2rem;
}

.titulo1 {
  align-self: flex-start;
  margin-top: 2rem;
  margin-left: 6rem;
}
.titulo1 button {
  margin-right: 6rem;
}

.cardes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  gap: 1rem;
  margin-left: 2rem;
  background: #ffd8eb;
}
